<!doctype html>
<html>
<head>
	<title>24 Hour Sunrise Clock</title>
</head>
<body style="margin: auto; text-align: center;">
	<canvas id="clock" width="400" height="400"></canvas>
	<script src="suncalc.js"></script>
	<script src="clock.js"></script>
</body>
</html>